* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1
{
    background-color: #1a3d6e;
    text-align: center;
    color: gray;
    text-shadow: black 5px 10px 3px;
}
.h1class
{
    padding-bottom: 1%;
    font-size: 40px;
    padding-top: 1%;
}
header
{
    overflow: hidden;
    background-color: #1a3d6e;
}
body
{
    background-color: #fafafa;
    font-size: 1rem;
    overflow-x: hidden;
}
nav
{
    background-color: #4c7a9e;
    border: 3px solid black;
    display: flex;
    padding-top: 1%;
    justify-content: center;
}
.navtekst
{
    font-size: 30px;
    color: black;
}
#vaardigheden
{
    flex: 1;
    text-align: left;
}
#overmij
{
    flex: 1;
    text-align: center;
}
#werkervaring
{
    flex: 1;
    text-align: right;
}
.ThibautFoto
{
    display: inline-block;
    max-width: 20%;
    max-height: 20%;
}
.ThibautFoto:hover
{
    box-shadow: 5px 5px 10px 3px;
}
.ThibautFoto:active
{
    box-shadow: none;
    border: 3px solid yellow;
}
main
{
    background-color: #dceaf2;
}
#mijnfoto
{
    text-align: center;
    display:inline-block;
}
.downNavDiv
{
    padding: 10px;
    text-align: center;
    color: white;
    flex-wrap: wrap;
}
.downNavSection
{
    background-color: #1a3d6e;
    border: 3px solid black;
    margin: 20px;
    width: 100%;
}
h2
{
    text-align: center;
    padding: 10px;
}
table {
    padding: 5%;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: auto;
    overflow-wrap: break-word;
}
th, td {
    border: 1px solid #ddd;
}
table tr:first-of-type {
    background-color: #1a3d6e;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}
footer
{
    width: 100%;
    display: flex;
    padding-top: 50px;
}
.footerlinks
{
    flex: 1;
    text-align: left;
}
.footermidden
{
    flex: 1;
    text-align: center;
    margin-right: 24%;
}
.footerright
{
    flex: 1;
    text-align: right;
}
@keyframes h1
{
    0% { transform: translateX(-100%); }
    100% { transform: translateX(0%); }
}
@keyframes h2
{
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}
#eersteH1
{
animation: h1 5s infinite;
}
#tweedeH1
{
    animation: h2 5s infinite;
}
@keyframes OvermijAnimatie1
{
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}
#mijninformatie
{
    text-align: center;
}
.fadeout
{
    transition: opacity 1s ease;
    opacity: 0;
    visibility: hidden;
}
.fadeout.show
{
    opacity: 1;
    visibility: visible;
}
#p1
{
    box-sizing: border-box;
    border: 3px dotted #1a3d6e;
}
#OptieID
{
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 18px;
}
.Buttons
{
    padding-bottom: 5%;
}
#Talen, #SoftSkills, #HardSkills
{
    cursor: pointer;
}
#extratekstTalen, #extratekstHardSkills, #extratekstSoftSkills
{
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s ease, visibility 1s ease;
    width: 100%;
    text-align: center;
}
.show
{
    visibility: visible;
    opacity: 1;
}
.selection-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#mijnwerkervaring
{
    text-align: center;
}
.sectionWerkervaring
{
    box-sizing: border-box;
    border: 3px solid black;
    padding: 30px;
}
@media (max-width: 480px)
{
    nav
    {
        flex-direction: column;
    }
    table
    {
        width: 100%;
    }
    th
    {
        display: block;
    }

    td
    {
        display: block;
    }
    body
    {
        font-size: 0.9rem;
    }
    .DownNavDiv
    {
        flex-direction: column;
    }
    .downNavSection
    {
        width: 100%;
        max-width: 100%;
    }
    #extratekstTalen, #extratekstHardSkills, #extratekstSoftSkills
    {
        display: block;
    }
}